.raised{
    margin: -60px auto 40px;
    background: white;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    border-radius: 6px;
}
.raised .intro {
    padding: 0px 0px 40px 0px;
}
.raised {
    padding: 70px 40px;
}
.raised .heading {
    text-align: center;
    font-weight: 280;
    font-size: 32px;
}
.raised .sub-heading {
    text-align: center;
    font-weight: 280;
    font-size: 18px;
}
.video-title {
    /* font-weight: 280; */
    text-align: center;
}
.raised iframe {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.video-title {
    padding: 20px 0px;
}