footer {
    height: 70px;
    background-color: #008dd3; 
    background:linear-gradient(135deg, #008dd3 0%,#00caed 100%);
    background: -moz-linear-gradient(-45deg, #008dd3 0%, #00caed 100%); 
    background:  -webkit-linear-gradient(-45deg, #008dd3 0%,#00caed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dd3', endColorstr='#00caed',GradientType=1 );
}
.footer .row {
    padding: 15px;
}

.footer .row svg {
    margin: 0px 10px;
}
.footer .row {
    color: white;
}
.footer .row a { color: inherit; } 
.footer .row a:hover {
    color: #89e7ff;
}